html,body,.Page-Content{
	height: 100%;
	margin: 0;
}
 #first{
	background-color: black;
}
#second{
	background-color: #BCE7FD;
}
#third{
	background-color: #D6C9C9;
}
#fourth{
	background-color: black;
}
#name,#projects,#about{
	text-align: center;
	font-size: 50px;
	color: white;
}
*{
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-weight: normal;
}
img{
	width:100px;
	margin-right: 35px;
}
