html,body,.Page-Content{
	height: 100%;
	margin: 0;
	background-color: black;
}
*{
    font-family: 'Quicksand', sans-serif;
}
.footer{
	margin: 0;
	position: absolute;
	font-family:"Quicksand", sans-serif;
	text-align: center;
	width: 100%;
	font-size: 20px;
	z-index: 1;
	background-color: grey;
	bottom: 0;
}
h1{
    font-weight: normal;
}
.Page-Content{
	position: relative;
	opacity: 0;
	display: none;
}
/* Loader */
.Loader{
	position: relative;
	margin: auto;
	background-color: black;
	height: 100px;
	width: 100px;
	top: 50%;
     	transform: translateY(-50%);
	background-image: url('/pics/Loader.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.Loader:after {
  	content: "";
  	display: block;
  	padding-bottom: 100%;
}
.LineWrapper{
	margin: 0 auto;
	position: relative;
	width: 80px;
  	top: 62%;
}
.LoaderLine{
	width: 100%;
}
.LoaderLine:before{
	content: "";
    	width: 0;
   	height: 7px;
   	background: #AAE0F6;
   	position: absolute;
   	left: 0;
  	right: auto;
  	animation: loader 2s infinite;
    	animation-fill-mode: both;
}
@keyframes loader {
    0% {
        width: 0;
        left: 0;
        right: auto;
        opacity: 1;
      }

    30% {
        width: 100%;
        left: 0;
        right: 0;
        opacity: 1;
      }

    31% {
        width: 100%;
        left: 0;
        right: 0;
        opacity: 1;
    }

    60% {
        width: 0;
        left: 100%;
        right: 0;
        opacity: 1;
    }

    61% {
        width: 0;
        left: 0;
        right: auto;
        opacity: 0;
    }
}
