.page{
	background-color: black;
	height: 100%;
	min-height: 100%;
}
/* Centering */
.parent{
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	background-color: black;
}
.child{
	position: relative;
}
/* To be centered */
#parent1,#parent2,#parent3, #parent4, #icons{
		display: flex;
    justify-content: center;
    align-items: center;
}
/*************************/
#parent1,#parent2,#parent3, #parent4,{
	scroll-snap-coordinate: 100px 0%;
}
#triangle{
	margin:auto;
	background-image: url("/pics/BlueTriangle.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width:150px;
	height:150px;
}
#abouttext{
	margin: auto;
	text-align: justify;
	width:85%;
	font-size:45px;
}
#explore{
	margin: 0;
	font-size: 50%;
	border: 2px solid white;
	color: white;
	padding: 10px;
	cursor: pointer;
}
#Contact{
 background-color: black;
}
#child1,#child3,#child2{
 text-align: center;
}
#child1, #child2, #child3, #child4{
	margin: auto;
	width: auto;
	text-align: center;
	background-color: black;
	color: white;
}
#AboutMe, #Projects{
	font-size: 100px;
}
#contactme{
	text-align: center;
	font-size: 50px;
}
#info, #icons{
  margin: 0;
	width:auto;
  text-align: center;
}
.email, .phone{
  color: white;
  padding-bottom: 5px;
  font-size: 50px;
}
@media only screen and (max-width: 1080px) {
	#Home{
		display:none;
	}
