.page{
	height: 100%;
	min-height: 100%;
}
/* Centering */
.parent{
	position: absolute;
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}
.child{
	position: relative;
}
/* To be centered */
#parent1,#parent2,#parent3, #parent4, #icons{
	display: flex;
    justify-content: center;
    align-items: center;
}
/*************************/
#Home{
 background-color: black;
}
#About{
 background-color: #BCE7FD;
}
#Projects{
 background-color: #D6C9C9;
}
#Contact{
 background-color: black;
}
#child1,#child3,#child2{
 position: absolute;
 text-align: center;
 font-size: 50px;
 color: white;
}
#child2, #child3{
	color: black;
}
#child1, #child4{
	color: white;
}
#child1, #child2, #child3, #child4{
	margin: auto;
	width: auto;
	text-align: center;
	font-size: 50px;
}
#contactme{
	text-align: center;
}
#info{
  margin: auto;
  text-align: center;
}
.email, .phone{
  color:white;
  padding-bottom: 5px;
  font-size: 50px;
}
