*{
    font-family: 'Anton', sans-serif;
    color: white;
}
#projectsParent{
  margin: auto;
  font-size: 0;
  overflow-y: scroll;
  background-color: black;
  display: flex;
}
#work{
  display: inline-block;
  position: relative;
  margin: auto;
  top: 14%;
  height:100%;
  width: 95%;
}
.cell{
  padding: 10%;
  height: auto;
  margin-bottom: 25px;
  background-color: #bdc3c7;
}
.subject{
  text-align: center;
  font-size: 50px;
}
#guardians, #nerdup, #mygraphics, #mycode, #fontcloud, #somi{
  font-size: 25px;
  cursor:pointer;
}
