.bar{
    display: inline-block;
		text-align: right;
    margin: auto;
    height: 10%;
    position: fixed;
    width:100%;
    z-index: 100;
    background-color: pink;
}
.menuOptions{
  margin: auto;
  width:100%;
  padding-top: 3%;
  padding-right: 2%;
}
li{
  position: relative;
  display: inline-block;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
}
a{
  text-decoration: none;
  display:block;
  color: white;
  font-size: 100%;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Quicksand', sans-serif;
}
.logo{
  cursor: pointer;
  margin: 0;
  position: fixed;
  top: 2.5%;
  left: 1.5%;
  height: 4%;
  width: 20%;
  background-image: url("/pics/AirTriangleName.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.contactLink{
  border: 2px solid white;
  padding: .5%;
}
@media only screen and (max-width: 1080px) {
  .bar{
    background-color: black;
    height:	14%;
    width: 100%;
    position: fixed;
    z-index: 100;
    font-size: 30px;
  }
  .logo{
    cursor: pointer;
    margin: auto;
    position: fixed;
    top:2%;
    right: 0;
    left: 0;
    height: 10%;
    width: 50%;
    background-image: url("/pics/AirTriangleName.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .burgermenu{
		position: relative;
		z-index: 100;
		width: 75px;
		height: 75px;
    margin-top: 10%;
  	margin-left: 5%;
		cursor: pointer;
		right: 0;
    border: none;
		transition: .3s;
	}
	.burgermenu > div{
		background-color: white;
		height: 5px;
		width: 85%;
		margin-bottom: 10px;
    transition: .5s;
	}
	#mySidenav{
		margin: 0;
		height: 0;
		width: 100%;
		position: fixed;
		z-index: 100;
		top: 14%;
		background-color: #AAE0F6;
		overflow-x: hidden;
		padding:0;
		transition: .5s;
	}
	#mySidenav > a{
		z-index: 100;
		text-decoration: none;
		font-size: 25px;
		transition: .5s;
	}
	#mySidenav > li{
    padding-top: 1%;
		list-style: none;
		text-align: center;
	}
    /* Menu button animation */
    .change .line1{
      height: 0;
      opacity: 0;
    }
    .change .line2{
      height: 0;
      opacity: 0;
    }
    .change .line3{
      height: 0;
      opacity: 0;
    }
    /*---------------*/
}
